*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/encodings.xml
jacoco.exec
.DS_Store
/build
/captures
.externalNativeBuild
jacoco.exec
.idea/
sample/debug/
sample/release/
